body {
    margin: 0;
    background: #0d0017;
    font-family: "Courier New", monospace;
    color: #d3baff;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #1c002e;
    border-bottom: 4px solid #43006b;
    box-shadow: 0 0 25px #520090;
    text-shadow: 0 0 5px #9e4cff;
}

header h1 {
    font-size: 42px;
    margin: 0;
}

header p {
    color: #bd87ff;
    margin-top: 10px;
    font-size: 18px;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
}

.track {
    background: #1c002e;
    border: 2px solid #43006b;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 10px #480079, 0 0 15px #38006e;
    transition: 0.3s;
}

.track:hover {
    transform: scale(1.02);
    box-shadow: inset 0 0 15px #6c00b1, 0 0 20px #5b00a2;
}

.track h2 {
    margin-top: 0;
    color: #e0c3ff;
    text-shadow: 0 0 4px #c182ff;
}

audio {
    width: 100%;
    margin-top: 15px;
    filter: drop-shadow(0 0 5px #8300d6);
}

/* Эффект старого монитора */
.scanlines {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        transparent 0px,
        transparent 2px,
        rgba(0, 0, 0, 0.1) 3px
    );
    z-index: 9999;
    opacity: 0.4;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
    mix-blend-mode: overlay;
    animation: screenFlicker 0.2s infinite;
}

@keyframes screenFlicker {
    0% { opacity: 0.03; }
    50% { opacity: 0.04; }
    100% { opacity: 0.03; }
}
